# ==========================================
# Variables d'environnement CamerAlert
# ==========================================

# 1. Sécurité & Core Django
SECRET_KEY=3gCfH0YHWSitbHne-o2CBxTcKNpKtEJT90zsLHimfiWOS_MZuyZotWyHiiovuNnY-Bo
DEBUG=False
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=https://*.vercel.app,https://cameralert.vercel.app

# 2. Base de données (Neon PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_cwdz6JguDe3B@ep-old-water-b4pc4g3p-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require

# 3. Stockage des photos (Cloudinary) - Optionnel au départ
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# 4. Envoi d'emails (Gmail SMTP) - Optionnel au départ
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=CamerAlert <noreply@cameralert.cm>
